.body-container{
    display:flex;
}

.admin-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin-top: 1%;
    max-width: 490px;
    width: 100%;
  }
  
  .profile-picture {
    margin-top: 20px;
  }
  
  .rounded-circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-details {
    margin-top: 5px;
    text-align: center;
  }
  
  .user-role {
    font-size: 24px;
    font-weight: 1000;
    color: #973752;
  }
  
  .email-address .box {
    width: 200px;
    padding: 7px;
    border: 1px solid gray;
    text-align: center;
    font-size: 18px;
    color:#474e4e;
  }

  .crd-views{
    background:rgb(167 201 217);
  }

  .crd-dwd{
    background:#92a8af;
  }

  .crd-vw{
    background:#89aeb7;
  }

  .db-card{
    background: linear-gradient(to left bottom, #c8e0e4, #95a6b0);
  }

  .addnew-box{
    width: 49%;
    padding: 3%;
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 30px;
    box-shadow: 0 2px 7px rgb(4 17 20);
    border: 2px solid #aec5c7;
}


  .addnew-admin-container{
    display:flex;
    gap:7%;
  }

  .add-new-btn{
    margin-left: 30%;
    color: #d5eafd;
    background-color: #37647b;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 25px;
    font-family: 'Kreon', serif;
    font-weight: bold;
  }

  .addnew-box form input[type=text],.addnew-box form input[type=password]{
    width:450px;
    background-color: rgb(255 255 255 / 72%);
  }

  .addnew-box form label{
    font-weight: 900;
    color: #10537a;
    font-size: 1.5em;
  }

.bg-img-addnew{
    /* background-image:url("/indieabode/public/images/Admin/addnew-bg.jpg"); */
    margin-top: 24%;
  }

.addnew-topic{
  color:white;
  margin-left: 30%;
  font-size: 1.6em;
}

.fa{
  color:#37647b;
}