.body-container{
display:flex;
}

.admin-card {
display: flex;
flex-direction: column;
align-items: center;
border-radius: 30px;
margin-top: 45%;
max-width: 490px;
width: 100%;
}

.profile-picture {
margin-top: 20px;
}

.rounded-circle {
width: 110px;
height: 110px;
border-radius: 50%;
object-fit: cover;
}

.user-details {
margin-top: 5px;
text-align: center;
}

.user-role {
font-size: 24px;
font-weight: 1000;
color: #973752;
}

.email-address .box {
width: 200px;
padding: 7px;
border: 1px solid gray;
text-align: center;
font-size: 14px;
color:#474e4e;
}

.crd-views{
background:rgb(167 201 217);
}

.crd-dwd{
background:#92a8af;
}

.crd-vw{
background:#89aeb7;
}

.db-card{
background: linear-gradient(to left bottom, #c8e0e4, #95a6b0);
}

.addnew-box{
width: 49%;
padding: 3%;
margin-top: 2%;
margin-left: 5%;
border-radius: 30px;
box-shadow: 0 2px 7px rgb(4 17 20);
border: 2px solid #aec5c7;
}


.addnew-admin-container{
display:flex;
}

.add-new-btn{
margin-left: 30%;
color: #d5eafd;
background-color: #37647b;
width: 200px;
padding: 10px;
border: none;
border-radius: 8px;
margin-top: 15px;
font-size: 25px;
font-family: 'Kreon', serif;
font-weight: bold;
}

.addnew-box form input[type=text],.addnew-box form input[type=password]{
width:450px;
background-color: rgb(255 255 255 / 72%);
}

.addnew-box form label{
font-weight: 900;
color: #10537a;
font-size: 1.5em;
}

.bg-img-addnew{
margin-top: 11%;
}

.addnew-topic{
color:white;
margin-left: 30%;
font-size: 1.6em;
}

.fa{
color:#37647b;
}

.graph-img img{
width:fit-content;
}

.graph-img{
margin-top: 34%;
}

.user-del-filter{
gap: 15%;
}

.graph-edit{
margin-top: 17%;
margin-left: 12%;
}

.nav-bar{
gap: 40%;
}

.report-calender{
display:flex;
flex-direction:column;
}

.download-user-btn {
background: #37647b;
padding: 3% 10% 3% 10%;
color: white;
font-size: 1em;
border: none;
border-radius: 15px;
}

.reprot-header{
display:flex;
padding: 1%;
font-size: 1.1em;
justify-content: space-between;
background-color: #95a6b0;
box-shadow: 0 2px 5px rgb(56 0 0);
}

.report-main{
margin-top: 2%;
}

.report-dw{
display:flex;
margin-right: 4%;
gap: 20%;
}

.view-sum-btn{
border: none;
outline: none;
padding: 7px 11px;
background-color:#37647b;
cursor: pointer;
border-radius: 10px;
font-size: 0.9em;
color:white;
}

.print-r{
border: none;
outline: none;
padding: 7px 11px;
background-color: #973752;
cursor: pointer;
border-radius: 10px;
font-size: 0.9em;
color:white;
}

.report-name{
font-weight: bolder;
font-size:1.3em;
color:#2e576c;
}

.user-mail-r{
font-size:0.65em;
color: #657983;
}

.report-all{
margin-top: 1%;
margin-bottom:4%;
}

.table-topic {
font-weight: bold;
font-size: 1.5em;
margin-bottom: 1%;
margin-top: 1%;
color: #000000;
text-align: left;

}

.report-all td img {
width: 100px;
height: 75px;
margin-right: 0.5rem;
vertical-align: middle;
border-radius:5px;
}

tfoot{
background-color: #667a84;
color: white;
font-weight: 400;
font-size: 1.2em;
}

.list-items{
background-color: #8f9fa8;
padding: 1%;
margin-bottom: 1%;
}

.list-items ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
gap: 4%;
align-items: center;
justify-content: center;
}

.list-items li {
margin: 0 20px;
font-size: 18px;
}

.list-items .circle {
display: inline-block;
width: 20px;
height: 20px;
border-radius: 50%;
margin-right: 20px;
}

.green {
background-color: #2e7156;
}

.yellow {
background-color: #66663f;
}

.blue {
background-color: #37647b;
}

.other-detail{
display:flex;
}

td .circle {
display: inline-block;
width: 15px;
height: 15px;
border-radius: 50%;
margin-right: 10px;
}

.admin-navbar{
z-index:99;
position:fixed;
width:100%;
}

.admin-footer{
z-index:99;
}

.release-date, .pub-email{
color: #667a84;
font-weight: 800;
}

.exp-date-cwd{
color:red;
}

.report-all span{
color: #37647b;
font-size: .85em;
}

.report-header-all{
margin-top: 6%;
text-align: center;
}
.report-header-all span{
color: #c8e0e4;
font-size: 1.2em;
}
.report-header-all i{
font-size: 1.5em;
font-style: italic;
font-weight: 800;
color: #657983;
}
.report-header-all h1{
font-size: 2em;
color: #37647b;
}

/*complaint toggle switch styling*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #256680;
}

input:focus + .slider {
    box-shadow: 0 0 1px #256680;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* dashboard styles */

.dashboard-tabs-container{
    width: 100%;
    height: fit-content;
}
.dashboard-tabs-container .db-btn-container{
    height: 15%;
    background-color: #265165;
    margin-bottom: 2%;
}
.dashboard-tabs-container .db-btn-container button{
    width: 20%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    background-color: #37647b;
}
.dashboard-tabs-container .db-btn-container button:hover{
    background-color: #708894;
}

.db-panel{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.first-row-db{
    display:flex;
    gap: 5%;
    width:100%;
    /* justify-content: center; */
    margin-top:2%;
}

.second-row-db{
    display:flex;
    gap: 5%;
    justify-content: flex-start;
    margin-bottom: 5%;
    width:100%;
}

/* .site-db-second-row{
  margin-left:3%;
} */

.first-pie-chart-db{
    padding-left:3%;
    width: 35%;
}

.top-details-db{
    display:flex;
    flex-direction:column;
    gap:5%;
    padding-right: 3%;
}

.popular-items{
    display:flex;
    padding: 3%;
    background-color: #1c5464;
}

.popular-topic{
    color: #7ec1f9;
    font-weight: 600;
    margin-top: 5%;
    font-size: 1.1em;
}

.popular-item-cover-img img{
    width:60%;
}

.popular-item-cover-img{
    font-size:75%;
    color: #929799;
}

.first-pie-chart-db h3{
    color: #1c5464;
}

.horizontal-chart{
    margin-left: 3%;
    background-color: #527289;
}

.line-chart-db{
    width: 40%;
    margin-top: 1%;
}
.line-chart-db h3{
  text-align: center;
  color: #336075;
}

/*game dashboard css */
.game-tx-card{
    display:flex;
    gap: 3%;
    margin-left: 3%;
    padding: 3%;
    background-color: #345575;
}

.total-tx-amount{
    margin-top: 7%;
}

/*add styling to the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
#errorModal{
    background-color: #f6d6e2;
    margin-bottom: 15%;
    margin-top: 4%;
    padding: 2%;
    border: 1px solid #888;
    width: 35%;
    color: #c41b1b;
    height: 13%;
    left: 64%;
}
#successModal{
    background-color: #84beb3;
    margin-bottom: 15%;
    margin-top: 4%;
    padding: 2%;
    border: 1px solid #2ea67a;
    width: 29%;
    color: #076248;
    height: 13%;
    left: 70%;
}
  
  .close {
    color:#010a0d;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color:#ac1717;
    text-decoration: none;
    cursor: pointer;
  }

/* Game Dashboard styles */
.game-db-body {
    display: flex;
    flex-direction: column;
  }
  
  .crowdfund-first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin-bottom: 20px;
    margin-top:0;
    gap:5%;
  }

  .crowdfund-db-first{
    display:flex;
    flex-direction: column;
  }

  .game-db-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin-bottom: 20px;
    /* margin-top: 4%; */
    gap:5%;
  }
/* 
  .game-db-extra-first{
    gap:5%;
  } */
  
  .game-db-total-tx {
    display: flex;
    }
  
.game-db-content-join{
  display:flex;
  flex-direction: column;
  margin-right: 5%;
}
  .game-db-card {
    background-color: #506299;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
  }
  
  .game-db-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .game-db-card-value {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }
  
  .game-db-view-games button {
    background-color:#2f5271;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left:28%;
  }
  
  .game-db-view-games button:hover {
    background-color: #36647b;
  }
  
  .game-db-second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin-bottom: 3%;
  }
  
  .game-db-calender input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .game-db-table-heading{
    /* margin-bottom: -4%;
    margin-left: -20%; */
    color:#2d4e6c;
    text-align: center;
  }
  
  .game-db-report-table {
    width: 70%;
    background-color:#608a9f;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .game-db-report-table button {
    background-color:#37647b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 78%;
  }
  
  .game-db-report-table button:hover {
    background-color:#466674;
  }
  
  .game-db-report-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .game-db-report-table th,
  .game-db-report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .game-db-report-table th {
    background-color: #37647b;
    color: white;
  }
  
  .game-db-report-table tr:nth-child(even) {
    background-color:#456d80;
  }
  
  .game-db-report-table tr:hover {
    background-color:#467d8c;
  }
  
  .game-db-table-container{
    max-height:215px; /* set a maximum height to the div to enable scrolling */
    overflow-y: scroll; /* add vertical scroll */
    width: 93%;
  }

  .game-db-table-container table{
    width: 100%;
  }
  .game-db-table-container thead{
    position: sticky; /* make the table header sticky */
    top: 0; /* stick the header to the top of the div */
    background-color: #fff; /* set a background color to the header to differentiate from the table */
  }

  @media screen and (max-width: 768px) {
    .game-db-first-row {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .game-db-card {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .game-db-view-games button {
      margin-top: 20px;
    }
  
    .game-db-second-row {
      flex-direction: column;
      align-items: center;
    }
  
    .game-db-calender {
      margin-bottom: 20px;
    }
  
    .game-db-report-table {
      width: 100%;
    }
  }

  .db-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.db-btn-container a {
    color: #a2c7d3;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.1em;
    width: fit-content;
}

.db-btn-container a:hover {
  background-color:#436b80;
}

.db-btn-container a.active {
  background-color: blue;
  color: white;
}

.main-db-content{
    background-color: #7aa0af;
    padding: 2%;
}

.main-db-content h1{
    text-align: center;
    color: #224d67;
    font-weight: 1000;
}

.game-db-tx-card{
  display: flex;
  gap: 8%;
  background-color:#6791a4;
  padding: 10% 20% 10% 20%;
  font-size: 1.3em;
  width: fit-content;
  margin-top: 25%;
}

.asset-tx-card{
  margin-right:0;
}

.game-db-tx-card h3{
  color: #0a2e4d;
  font-weight: bolder;
}

.game-db-tx-card h2{
  color:#2f5271;
  margin-top: 3%;
}

.transaction-graph-game-tx{
  background-color:#456d80;
  padding: 3% 1% 3% 1%;
}

.transaction-graph-game-tx h3{
  text-align: center;
  font-size: 1.3em;
  color: #c8dfe4;
  margin-bottom: 25px;
}

/* .tx-asset-graph{
  background-color: #1b505a;
  padding: 3% 2% 3% 2%;
  margin-right: 10%;
} */

.game-db-body h2{
  color:#2f5271;
}

.total-donations h2{
  color:#4bc0c0;
}
  
.downloads-uploads-graph h3{
  text-align: center;
  margin-bottom: 4%;
  color: #2f5271;
  font-weight: 800;
}
 
.game-db-third-row{
  display:flex;
  gap:5%;
  margin-bottom: 2%;
}
.game-revenue-total{
  display: flex;
  gap: 8%;
  background-color: #5e8794;
  font-size: 1.3em;
  width: fit-content;
  padding: 3%;
  margin: 6%;
}

.game-revenue-graph{
  background-color:#456d80;
  padding: 3% 1% 3% 1%;
}

.game-revenue-graph h3{
  text-align: center;
  font-size: 1.3em;
  color: #c8dfe4;
  margin-bottom: 25px;
}

.game-db-fourth-roww{
  margin-top: 3%;
}
 
.jam-db-table table {
  border-collapse: collapse;
  width: 100%;
}
.jam-db-table th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.jam-db-table th {
  background-color: #37647b;
  color: white;
}

.crowdfund-table-all{
  background-color:#608a9f;
}
.jam-db-table .ongoing {
  background-color:#509998;
}
.jam-db-table .completed {
  background-color: #245252;
  color: white;
}

.jam-db-table img{
  width: 86px;
  height: 86px;
}

.total-donations{
  display:flex;
  background-color:#336075;
  padding: 13%;
  gap: 15%;
}

.crowdfund-db-second{
  width:65%;
}
.crowdfund-db-second h1{
  font-size: 1.2em;
  color: #456d80;
  text-align: center;
  margin-bottom: 1%;
}
.crowdfund-db-second table {
  border-collapse: collapse;
  width: 100%;
}

.crowdfund-db-second .table-container {
  height: 260px;
  overflow: auto;
}

.crowdfund-db-second thead th {
  position: sticky;
  top: 0;
  background-color:#456d80;
  color: white;
  z-index: 1;
}

.crowdfund-db-second tbody {
  overflow-y: scroll;
  height: calc(100% - 35px); /* Subtract header height and border */
}

.crowdfund-db-second th,
.crowdfund-db-second td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.crowdfund-db-second tr:nth-child(even) {
  background-color: #456d80;
}
.crowdfund-second-row h1{
  font-size: 1.3em;
  color: #33617b;
  text-align: left;
  margin-bottom: 1%;
  margin-top: 2%;
}

.crowdfund-second-row .crowdfund-table-all{
  max-height:368px;
  overflow: auto;
}

.crowdfund-table-all tbody {
  overflow-y: scroll;
}
.crowdfund-table-all thead {
  position: sticky;
  top: 0;
  z-index: 1;
  
}
.crowdfund-second-row{
  margin-bottom: 3%;
}

.crowdfund-third-row{
  display:flex;
  gap:5%;
}

.total-crowdfund-revenue{
  display: flex;
  gap: 5%;
  margin: 8%;
  background-color: #456d80;
  padding: 2%;
}


/* Set the height and overflow properties of the table container */
.crowdfund-revenue-share-games {
  height: 200px;
  overflow-y: scroll;
}

/* Set the styles for the table */
.crowdfund-revenue-share-games table {
  border-collapse: collapse;
  width: 100%;
}

/* Set the styles for the table header */
.crowdfund-revenue-share-games thead {
  position: sticky;
  top: 0;
  background-color: #336075;
  color: #c8e0e4;
}

/* Set the styles for the table cells */
.crowdfund-revenue-share-games th,
.crowdfund-revenue-share-games td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* Set the styles for the table cells in the first column */
.crowdfund-revenue-share-games td:first-child {
  font-weight: bold;
}

/* Set the styles for the table cells in the last column */
.crowdfund-revenue-share-games td:last-child {
  text-align: right;
}

.crowdfund-revenue-share-games tbody tr:nth-child(even) td {
  background-color:#608a9f;
}

.crowdfund-fourth-row h1{
  font-size: 1.3em;
  color: #33617b;
  text-align: left;
  margin-bottom: 1%;
  margin-top: 2%;
}

.crowdfund-revenue-graph{
  background-color: #5e879c;
  padding: 3% 1% 3% 1%;
  color: #336075;
  text-align: center;
}

.crowdfund-revenue-graph h3{
  margin-bottom:2%;
}

.total-donations h3{
  color: #7aa0af;
  font-size: 1.4em;
}

.game-db-table-container .error-tr{
  text-align: center;
  color: #973752;
  font-size: 1.3em;
}

.popular-jam{
  display:flex;
  gap:5%;
}

.popular-jam img{
  width: 86px;
  height: 86px;
}

.jam-db-table{
  max-height:320px;
  overflow-y: scroll;
}
.jam-db-table thead{
  position: sticky;
  top: 0;
  z-index:1;
}
/* 
.jam-db-table tbody{
  overflow-y: scroll;
} */

/* .first-chart-totalTx{
  display:flex;
  flex-direction:column;
} */

.total-revenue-site{
  display: flex;
    gap: 5%;
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 3%;
    background-color:#336075;
}

.total-revenue-site h3{
  color:#7aa0af;
}

.total-revenue-site h2{
  color:#4bc0c0;
}

	/* The modal (background) */
	.db-modal {
		display: none; 
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.db-modal-content {
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 80%;
	}

	/* The Close Button */
	.db-close {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.db-close:hover,
	.db-close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}

  #dw-pay-btn{
    padding: 1%;
    margin-left: 80%;
    margin-bottom: 2%;
  }

  .back-arrow{
    font-size: 1.4em;
    color: #973752;
    font-weight: 1000;
  }

  .all-game-table{
    margin-top: 2%;
  }

  .free-game, .free-asset {
    background-color: #7aa0af;
  }
  
  .paid-game, .paid-asset {
    background-color: #95a6b0;
  }
  
  th.total-income,
  td.total-income {
    background-color:#456d80;
    color: white;
    text-align: center;
  }

  td.total-income {
    font-weight: bold;
  }

  .ended-jam {
    background-color:#6791a4;
  }