@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&display=swap');
* {
	font-family: 'Kreon', serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* styling search bar */

/* .search-user{
    margin-top: 4%;
} */

.search-user {
  margin-top: 1%;
  margin-bottom: 3%;
  /* background: linear-gradient(to left top, #95a6b0, #37647b); */
  padding: 1%;
  width: 32%;
  color: #37647b;
  box-shadow: 0 2px 3px rgb(4 17 20);
  border-radius: 4px;
}

.search-user h2{
  font-size: 1.3em;
  color: white;
}

.search-user{
  color:#37647b;
}

.search-user .user-mg-search input {
	padding: 10px 16px;
	border-radius: 5px;
	outline: none;
	background: #c8e0e4;
	border: none;
	transition: all .3s ease;
	width: 90%;
}

/*filter users by user type */

.search-user-type{
  margin-top: -1%;
  border-radius: 50px;
  box-shadow: 0 2px 7px rgb(4 17 20);
  border: 2px solid #aec5c7;
  padding: 1% 3% 1% 3%;
  width: fit-content;
  background: linear-gradient(to left top, #95a6b0, #37647b);
}

.btn {
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: #95a6b0;
  cursor: pointer;
  border-radius: 10px;
  font-size: 0.9em;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #c8e0e4;
  color: #376479;
}


/*Users Table*/

.table__body {
  width: 100%;
  max-height: calc(89% - 1.6rem);
  background-color: #95a6b0;
  margin: 1.8rem auto;
  border-radius: 0.6rem;
  overflow: auto;
  overflow: overlay;
  box-shadow: 0 2px 6px rgb(3 14 16);
  border-radius: 4px;
}

.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: .5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color:#c8e0e4;
  text-transform: capitalize;
}

/* table tr{
  cursor:pointer;
} */

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #fff6 !important;
}

.status {
  padding: .4rem 0;
  border-radius: 2rem;
  text-align: center;
  cursor:pointer;
}


.status.delivered {
  background-color: #86e49d;
  color: #006b21;
}

.status.cancelled {
  background-color: #d893a3;
  color: #b30021;
}

.status.pending {
  background-color: #ebc474;
}

.status.shipped {
  background-color: #6fcaea;
}


@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}

thead th:hover {
  color: #0b0213;
}

.export__file {
  position: relative;
}

.export__file .export__file-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: #fff6 url(images/export.png) center / 80% no-repeat;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
  background-color: #fff;
  transform: scale(1.15);
  cursor: pointer;
}

.export__file input {
  display: none;
}

.export__file .export__file-options {
  position: absolute;
  right: 0;
  
  width: 12rem;
  border-radius: .5rem;
  overflow: hidden;
  text-align: center;

  opacity: 0;
  transform: scale(.8);
  transform-origin: top right;
  
  box-shadow: 0 .2rem .5rem #0004;
  
  transition: .2s;
}

.export__file input:checked + .export__file-options {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}

.export__file .export__file-options label{
  display: block;
  width: 100%;
  padding: .6rem 0;
  background-color: #fff;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
  padding: 1rem 0;
  background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
  transform: scale(1.05);
  background-color: #f2f2f2;
  cursor: pointer;
}

.export__file .export__file-options img{
  width: 2rem;
  height: auto;
}

.del-user-btn{
  background:#37647b;
  padding: 3% 10% 3% 10%;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 15px;
}

.filter-roles{
  display:flex;
  gap: 30%;
}

.blocked-users button{
  border: none;
  outline: none;
  padding: 16px 22px;
  background-color: #973752;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
  color: white;
}



