.developer-dashboard, .creator-dashboard, .organizer-dashboard, .publisher-dashboard {
  background-color: rgba(100, 166, 204, 0.2);
  margin: 50px 210px 50px 210px;
  border-radius: 7px;
}

.top-row {
  display: flex;
  height: 70px;
  justify-content: space-between;
  border-radius: 7px 7px 0px 0px;
  background-color: rgb(60, 103, 117);
}

.top-row .count {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: rgb(124, 166, 214);
}

.top-row .heading {
  margin: 20px 0px 0px 30px;
  font-size: 23px;
  color: white;
}

.dev-main-stat {
  margin: 15px 20px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.dev-main-stat div {
  margin-right: 30px;
}

.tabs-row {
  font-size: 18px;
  display: flex;
  padding: 0px 110px;
  background-color: rgb(140, 211, 235);
  width: 100%;
  height: 40px;
}

.tabs-row a {
  text-decoration: none;
  margin: 7px 20px;
}

.tabs-row a:hover {
  background-color: azure;
}

.content-row {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  background-color: rgba(168, 202, 231, 0.688);
  border-radius: 0px 0px 7px 7px;
}

.content-row h3 {
  margin: 20px 120px 10px;
}

.game-card {
  margin: 10px 120px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: rgb(93, 128, 162);
}

.left-col {
  display: flex;
  width: 412px;
}

.left-col .icon {
  height: 80px;
  width: 150px;
  background-color: rgb(69, 69, 110);
  margin-right: 20px;
}

.left-col .icon img {
  height: 100%;
  width: 100%;
  /* position: relative; */
  background-size: cover;
}

/* .card-image {
    background-color: rgb(173, 169, 163);
    height: 150px;
    
    border-radius: 10px 10px 0px 0px;
    
} */

.left-col .details {
  margin-top: 15px;
}

.game-stat-tabs a {
  color: rgb(11, 9, 78);
  /* text-decoration: none; */
}

.details .game-name {
  font-weight: bold;
}

.left-col .details .game-stat-tabs {
  margin: 6px 0px;
}

.left-col .details .game-stat-tabs a {
  margin-right: 8px;
}

.devlog-cards .right-col{
    width: 300px;
}

.all-crowdfund-cards .right-col {
    width: 300px;
}

.right-col {
  margin-top: 18px;
  margin-right: 22px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.right-col .count {
  display: block;
  text-align: center;
  font-weight: bold;
}

.edit-btn {
    margin: 28px 18px;
    text-decoration: underline;
    

}

.edit-btn a {
    color: black;
    text-decoration: none;
}

/* Devlog Page  */
.add-btn {
  width: 185px;
  height: 40px;
  display: flex;
  margin: 10px 12px 7px 130px;
  text-align: center;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 18px;
  color: #132759;
  border-radius: 8px;
  background-color: #a5b9bd;
}

.add-btn img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#crowdfundingbtn {
  width: 235px;
}

#devlog-btn {
  text-decoration: none;
}

#sub-topic {
  margin: 20px 0px 0px 130px;
  color: rgb(15, 38, 61);
}

/* Gig Page */

#gig-btn {
  text-decoration: none;
}

.gig-tabs {
  margin: 20px 120px 6px;
  font-size: 19px;
  display: flex;
}

#tabs-break {
  margin: 0px 120px;
  border: 1px solid rgb(96, 175, 212);
}

.gig-tabs .topic {
  margin-right: 40px;
}

.ongoing-requests-cards, .ordered-gigs-cards, .expired-crowdfund-cards, .cancelled-crowdfund-cards {
  display: none;
}
