.cover-img {
    display: block;
    margin: 30px 180px 15px 190px;
}

.cover-img img {
    height: 270px;
    width: 1130px;
    object-fit: cover;
}

.container {
    display: flex;
    margin: 20px 180px 15px 190px;
}

.details {
    width: 730px;
    margin-right: 30px;
}

.title {
    font-size: 25px;
}

.published-date {
    font-size: 18px;
}

.content {
    margin-top: 10px;
    text-align: justify;
}

.card {
    width: 350px;
}

.game-name {
    font-size: 23px;
}

.second-rows {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    margin-top: 5px;
}

.game-tagline {
    margin-top: 4px;
    font-size: 18px;
}

.btn {
    display: block;
    margin: 10px 12px 7px 12px;
    text-align: center;
    padding: 14px;
    font-weight: bold;
    font-size: 23px;
    color: #132759;
    border-radius: 6px;
    background-color: #A5B9BD;
}

.overview {
    margin: 20px 0px;
    font-size: 21px;
}

.row {
    display: flex;
    justify-content: space-between;
}

#line-break {
    margin: 4px 0px 7px 0px;
}

.contents {
    text-align: right;
}

.comments-box{
    width: 730px;
    margin: 20px 0px 15px 190px;
}

.comments-box input,select,textarea{
    width: 730px;
    padding: 10px 10px;
    margin: 5px 0;
    border: 2px solid #1E3455;
    background: rgba(149, 178, 200, 0.6);;
    outline: none;
    border-radius: 4px;

}

.add_comment_btn {
    display: inline-block;
    margin: 6px 0px 7px 0px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color:#b3b5ba;
    border-radius: 6px;
    background-color: #145563;
}

.reply-btns{
    display: flex;
    justify-content: left;
    color: rgb(42, 42, 71);
}

.reply-btns div {
    margin-right: 20px;
}

.comment {
    margin-bottom: 7px;
}

.sub_comment{
    margin: 8px 20px;
}

.sub_comment input{
    width: 700px;
}

.reply-end {
    display: flex;
    justify-content: right;
    color: rgb(61, 61, 112);
}

.reply-end div{
    margin-left: 20px;
}


#comments-bar {
    font-size: 21px;
    margin-bottom: 8px;
}

.login-link {
    margin-bottom: 15px;
}

textarea::placeholder {
    color: rgb(29, 42, 94);
    opacity: 1; /* Firefox */
  }

.details-top-bar {
    display: flex;
    justify-content: space-between;
}

.devlog-like-btn i{
    font-size: 30px;
    margin: 7px;
}

.unliked {
    color: rgb(55, 66, 69);
}

.liked {
    color: rgb(135, 7, 24);
}