/*Footer*/

.footer {
    margin-top: auto;
    background-image: url('/indieabode/public/images/navbar/bg1.jpg');
    background-size:cover;
    background-attachment: fixed;
    padding:.5%;
    width: 100%;
}
.first-row {
    display: flex;
    justify-content: space-around;
}

.left {
    display: block;
    margin: 10px 10px 5px 10px;
}

.left a {
    padding: 2px 10px;
    color: #fcfeff;
    opacity: 74%;
    text-decoration: none;
}

.right {
    display: block;
    margin: 10px 10px 5px 10px;
}

.right img {
    width: 17px;
    height: 17px;
    margin: 2px 5px;
}

.fsecond-row {
    display: block;
    text-align: center;
    color: #cfdef3;
    padding-bottom: 4px;
}