.checked {
    color: orange;
}

.unchecked {
    color: rgba(215, 210, 210, 0.608);
}

.review-body {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.column-one{
    margin-top: 20px;
    margin-right: 150px;
}

.column-two {
    margin-right: 150px;
}

.column-three {
    margin-top: 20px;
}

.review-progress {
    display: flex;
}

.rate-number {
    font-size: 19px;
    margin: 2px 5px;
}
.review-progress i {
    margin-top: 2px;
    font-size: 24px;
    margin-right: 5px;
}

.progress-bar-border {
    margin-right: 6px;
    margin-top: 7px;
    width: 180px;
    height: 12px;
    background-color: rgb(195, 228, 239);
    border-radius: 8px;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: rgb(231, 234, 9);
    border-radius: 8px;
}

.like-buttons{
    margin: 8px 0px;
}

.like-buttons i{
    margin-right: 8px;
    font-size: 30px;

}

.recommendation {
    display: flex;
}

.reviews {
    margin-top: 25px;
}

