.home-topics {
    margin: 10px 160px;
}

.topic-bar {
    display: flex;
    justify-content: space-between;
    margin-right: 175px;
    align-items: center;
}

.view-all {
    display: block;
    background-color: #9ab3d9;
    padding: 4px 6px;
}

.view-all a {
    text-decoration: none;
    color: black;
}

.flashMessage {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 50%;
    background-color: #73c3e3;
    color: black;
    text-shadow: 1px 1px 1px #248ab2;
    border-radius: 0 0 5px 5px;
    padding: 8px 16px;
    padding-top: 15px;
    font-size: 18px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
    display: none;
}

.topic-break {
    color: #86AFEC;
    background-color: #86AFEC;
    border-width: 0px;
    height: 0.5px;
    margin: 0px 165px 5px 160px;
}

.first-bar {
    margin-top: 30px;
}