.name-role{
    font-size:20px;
    font-weight: 300;
    padding-top: 10px;
}

.name-role #user-role {
    color: #2e3542;
}

.upper-name-row {
    display: flex;
    align-items: center;
}

.user-detail-container{
    display:flex;
    margin: 100px 0px 0px 168px;
    justify-content: space-between;
}

.user-detail-container-item {
    width: 100px;
    height: 100px;
    background-color: wheat;
    margin-right: 20px;
    position: relative;
    background-size: cover;
}

.user-detail-container-item img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.left-container {
    display: flex;
    
}

.user-follow-count-container{
    margin-right: 195px;
    padding-top: 20px;
    display:flex;
    font-size: 18px;
    color:rgb(9, 9, 11);
    font-weight: bold;

}

.portfolio-container-2 {
    margin: 20px 170px 7px 170px;
    font-size: 18px;
}

.user-follow-count-container div {
    margin-left: 80px;
    
}

.user-follow-count-container .value {
    text-align: center;
    color: #04093d;
}

.follow-btn{
    margin: 0px 25px;
    background-color: rgb(11, 50, 78);
    cursor:pointer;
    padding:8px 20px;
    color:rgb(182, 196, 229);
    border-radius:7px;
    font-size: 18px;
    font-weight: 800;
    
}

h2{
    margin-left: 10%;
    padding-top:3%;
    padding-bottom:2%;
}



#topic-break {
    margin: 0px 165px 15px 165px;
    border: 0.4px solid #9bc9dbdd;
}




/*Cards*/

.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 155px;
    transition: margin 0.3s ease;
}

.container a {
    text-decoration: none;
}

.card {
    /* background-color: #c3deee; */
    background-image: url('/indieabode/public/images/navbar/bgcard.jpg');
    background-size:cover;
    background-attachment: fixed;
    width: 282.5px;
    margin: 10px;
    border-radius: 10px;
}

.card-image {
    background-color: rgb(173, 169, 163);
    height: 150px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

.card-image img {
    position: absolute;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
}

.asset-type {
    position: absolute;
    left: 8px;
    bottom: 5px;
    display: block;
    color: #2B5594;
    background-color: #95B2C8;
    padding: 5px;
    border-radius: 7px;
}




.game-intro {
    display: flex;
    font-size: 18px;
    color: #1F1E1E;
    justify-content: space-between;
    margin: 10px 10px 2px 10px;
}

.tagline{
    padding: 3px 10px;
    font-size: 17px;
    color: #475872;
    margin-bottom: 5px;
    text-align: justify;
}

.game-classification {
    margin: 0px 0px 0px 10px;
    padding-bottom: 10px;
}

.card a {
    background-color: rgb(162, 212, 212);
    color: black;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover {
    background-color: rgb(49, 46, 46);
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s ease;
}

