.settings-content {
    /* display: block; */
    margin: 30px 195px 20px 180px;
    background-color: lightblue;
    border-radius: 7px 7px 0px 0px;
}

.top-row {
    display: block;
    height: 60px;
    background-color: rgb(43, 93, 137);
    padding: 20px 0px 0px 30px;
    font-size: 20px;
    color: rgb(166, 204, 228);
    border-radius: 7px 7px 0px 0px;
}

.settings-body{
    display: flex;

}

.settings-menu {
    width: 250px;
    background-color: rgb(34, 120, 170);
}

.settings-menu .topics {
    text-align: right;
    display: block;
    height: 35px;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(95, 123, 176);
    color: rgb(8, 15, 23);
    margin-bottom: 8px;
}

.settings-menu .sub-topics {
    text-align: right;
    display: block;
    height: 40px;
    font-size: 18px;
    padding: 10px 5px;
    background-color: rgb(144, 167, 211);
    /* margin-bottom: 2px; */
}

.category a {
    color: black;
    text-decoration: none;
}

.category .sub-topics:hover {
    color: white;
    background-color: rgb(134, 160, 202);
}

.content-body {
    margin: 15px;
    padding: 5px;
    width: 100%;
}

.content-body h2 {
    margin-bottom: 12px;
}

.content-body input[type=text], textarea{
    width: 55%;
    padding: 10px 0;
    margin: 5px 0;
    border: 2px solid #1E3455;
    background: transparent;
    outline: none;
    border-radius: 4px;
}

select {
    width: 35%;
    padding: 10px 0;
    margin: 5px 0;
    border: 2px solid #1E3455;
    background: transparent;
    outline: none;
    border-radius: 4px;
}

.content-body input::placeholder,option,select:checked{
    color: rgba(72, 95, 117, 0.6);
    padding:7px 8px;
    font-weight:500;
}

.container {
    height: 60px;
    width: 60px;
    background-color: rgb(115, 170, 193, 0.72);
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .container img {
    width: 70%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }

.avatars {
    margin: 10px 0px 15px 0px;
    display: flex;
    justify-content: left;
  }

.labels {
    margin-top: 15px;
    color: rgb(49, 62, 69);
}

.labels span {
    font-size: 17px;
    font-weight: 700;
    color: black;
}

.key-points {
    margin-top: 7px;
}

.key-point {
    margin-bottom: 7px;
    vertical-align: middle;
}

input[type="checkbox"] {
    /* margin-top: 3px; */
    width: 15px;
    height: 15px;
}

.save {
    margin-bottom: 20px;
    margin-top: 12px;
    background-color: #477ba7; 
    border: none;
    border-radius: 7px;
    color: white;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

/* Styles for Portfolio  */
.display-image {
    display: flex;
}

.image-box {
    margin-top: 6px;
    width: 100px;
    height: 100px;
    border: 2px solid #1E3455;
    background: transparent;
    border-radius: 4px;
}

/*Style for Revenue Sharing*/
  
  .slider {
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }

.revenue-share {
    display: flex;
    width: 700px;
}

.revenue-slider {
    width: 450px;
    margin-right: 40px;
}

#percent {
    font-size: 22px;
    font-weight: bold;
}

.slidecontainer {
    padding: 10px;
    width: 700px;
    border: 1px solid rgb(49, 45, 85);
    border-radius: 7px;
}

.preset span {
    color: rgb(78, 85, 124);
    cursor: pointer;
    text-decoration: underline;
}

.error-msg{
    padding: 3px 4px;
    background-color: rgb(225, 132, 132);
    display: block;
    width: 497px;
    margin: 0px 0px;
}

#saveBtn {
    width: 90px;
    margin-bottom: 20px;
    margin-top: 12px;
    background-color: #477ba7; 
    border: none;
    border-radius: 7px;
    color: white;
    padding: 7px 26px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.flashMessage {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 50%;
    background-color: #73c3e3;
    color: black;
    text-shadow: 1px 1px 1px #248ab2;
    border-radius: 0 0 5px 5px;
    padding: 8px 16px;
    padding-top: 15px;
    font-size: 18px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
    display: none;
}
  

