

.game-details{
    margin: 10px 180px 0px 180px;
    display: flex;
    justify-content: space-between;
    /* background-color: rgba(100, 120, 134, 0.679); */
    height: 300px;
    border: 2px double rgb(12, 68, 90);
}

.game-details .left-details {
    display: flex;
    margin: 40px 40px;
}

.left-details .game-image {
    background-color: rgb(24, 38, 119);
    height: 200px;
    width: 300px;
    position: relative;
    background-size: cover;
}

.game-image img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.left-details .game-info {
    /* background-color: rgba(87, 92, 96, 0.549); */
    height: 200px;
    width: 300px;
    margin-left: 20px;
}

.game-info .game-name {
    font-size: 21px;
    font-weight: 800;

}

.game-details .right-details {
    margin: 40px 40px;
}

.right-details .game-buttons {
    /* background-color: rgba(140, 190, 221, 0.549); */
    height: 200px;
    width: 300px;
    margin-right: 20px;
    position: relative;
}

.download {
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 22px;
    font-weight: 700;
    background-color: rgb(139, 178, 216);
    color: rgb(51, 51, 140);
    padding: 6px 13px;
    border-radius: 6px;
}

.more-game-details {
    display: flex;
    margin: 0px 180px 10px 180px;
}

.more-game-details .screenshots {
    background-color: rgb(148, 175, 215);
    width: 400px;
}

.more-game-details .ratings {
    width: 800px;
}

.ratings .rating-content {
    background-color: rgb(81, 110, 155);
}

.screenshots .tagline {
    padding: 6px 10px;
}

.screenshots .screenshot-container {
    width: 340px;
    margin: 5px 20px;
    background-color: rgb(170, 206, 237);
    padding: 20px 28px 12px;
}

.screenshot-container .screenshot-img {
    width: 282.5px;
    height: 170px;
    display: block;
    background-color: antiquewhite;
    margin-bottom: 8px;
    position: relative;
}

.screenshot-img img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.instruction-cover {
    display: flex;
    justify-content: space-between;
}

.instruction-cover .rankings {
    margin-right: 10px;
}

/*ratings*/
.rating-header {
    display: block;
    padding: 6px;
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.theme-bar {
    text-align: center;
    font-size: 25px;
    padding: 20px 20px 10px;
}

.theme-bar #theme{
    font-style: italic;
}

.instructions {
    margin: 5px 12px;
}

.instructions .topic {
    font-size: 17px;
}

.instructions .instruction-list {
    margin: 4px 25px;
}

.rating-block {
    margin: 10px 300px;
}

.rating-head {
    margin-top: 15px;
    text-align: center;
}

.stars {
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(95, 153, 200);
}

.stars i {
    margin: 2.3px;
    font-size: 25px;
}

.save {
    display: inline-block;
    font-size: 18px;
    padding: 5px 15px;
    background-color: rgb(218, 224, 154);
    font-weight: 800;
    border-radius: 4px;
    margin: 5px 30px;
    cursor: pointer;
}

.checked {
    color: rgb(210, 216, 37); 
}

.unchecked {
    color: rgba(50, 43, 43, 0.608);
}

.ranked-block {
    text-align:center;
}

.ranked-block .total-rating-heading {
    font-size: 22px;
}

.total-rating-heading span {
    font-size: 24px;
    font-weight: 800;
}

.ranked-block .game-rank {
    font-size: 22px;
}