
.wrapper {
    width: 90%;
    max-width: 34.37em;
    max-height: 70vh;
    background-color: #96c8f4;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
  }
  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #wheel {
    max-height: 400px;
    width: 400px;
    top: 0;
    padding: 0;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  #spin-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
    color: #c66e16;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  .container img {
    position: absolute;
    width: 4em;
    top: 45%;
    right: -8%;
  }
  #final-value {
    font-size: 1.5em;
    text-align: center;
    margin-top: 25px;
    color: #202020;
    font-weight: 500;
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      font-size: 12px;
    }
    .container img {
      right: -5%;
    }
  }

.chances {
  position: absolute;
  bottom: 170px;
  right: 400px;
  font-size: 18px;
}

#spinStatus{
  margin-top: 8px;
  font-weight: 800;
}



.my-details {
  position: absolute;
  top: 150px;
  right: 400px;
}

.my-details .heading {
  font-size: 18px;
}

.coins {
  margin-top: 7px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.coins .coin-icon {
  height: 26px;
  width: 26px;
  background-size: cover;
  position: relative;
  margin-right: 8px;
}

.coin-icon img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}