.modal {
    position: fixed;
    top: 120px;
    left: 450px;
    transform: scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 600px;
    max-width: 80%;
  }

  .modal-body {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}
  
  .modal.active {
    transform: scale(1);
  }
  
  .modal-header {
    padding: 18px 15px 15px 30px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 23px;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 30px 10px 30px;
  }

  .existing-project .details {
    font-size: 21px;
    font-weight: 500;
    margin-top: 10px;
  }

  .existing-project select {
    margin: 15px 0px 18px;
    width: 220px;
  }

  .existing-project .submission-btn, .new-project .upload-game-btn {
    display: inline-block;
    background-color: rgb(58, 99, 232);
    color: white;
    padding: 8px 12px;
    border-radius: 2.5px;
    cursor: pointer;
  }

  .new-project {
    margin: 25px 0px;
  }

  .new-project .header-project {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .instruction {
    font-style: italic;
    color: black;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }