#header {
    text-align: center;
    padding-top: 160px;
    padding-bottom: 80px;
    display: block;
    background-color: rgb(115, 166, 198);
}

.first-three {
    display: flex;
    justify-content: space-around;
}

.second-three {
    display: flex;
    justify-content: space-around;
}

.card {
    padding: 25px;
    width: 350px;
}

.card img {
    width: 65px;
    height: 65px;
    margin: 25px 120px 7px;
}

.card .card-topic {
    text-align: center;
}

.card .topic-tagline {
    text-align: center;
}

.bottom-topic h2 {
    text-align: center;
    margin: 30px;
    display: block;

}

.support-cards a {
    text-decoration: none;
    color: black;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.5s ease;
    color: rgb(44, 63, 94);
}

